@import 'reset.scss';
@import '../fonts/lato/stylsheet.css';
@import '../fonts/georgia/stylesheet.css';
@import 'var';
@import 'base';
// font-family: 'Latto';
// font-family: 'Georgia';
.header {
    border: 2px solid black;
    font-size: 20px;

    // .header__row

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
    }

    // .header__logo

    &__logo {
        max-width: 80px;
    }

    // .header__nav

    &__nav {
        padding-right: 45px;
    }

    // .header__list

    &__list {
        display: flex;
        column-gap: 72px;
    }

    // .header__item

    &__item {

         a{
            color: #292929;

        }
    }

    // .header__login

    &__login {

    }

    // .header__sign

    &__sign {
        padding: 0 35px;
    }

    // .header__start

    &__start {
    }
}

.container {
}
.way {
    background: url('../img/header-bg.png') center center/cover no-repeat;
    min-height: 895px;
    padding-top: 173px;
    margin-bottom: 182px;

		// .way__title
        &__content{
            max-width: 440px;
        }
		&__title {
            font-family: 'Geoirgia',serif;
            font-size: 65px;
            color: $light-green;
            font-weight: 700;
            margin-bottom: 30px;
		}

		// .way__text

		&__text {
            color: #484848;
            font-size: 20px;
            margin-bottom: 45px;
		}

		// .way__button

		&__button {
		}
}

.how {

    // .how__text-block

    &__text-block {
        margin-bottom: 187px;
    }
}

.text-block {
    
    // .text-block__subtitle

    &__subtitle {
        font-weight: 600;
        font-size: 24px;
    }

    // .text-block__row

    &__row {
    }

    // .text-block__title

    &__title {
        font-family: 'Georgia',serif;
        font-weight: 700;
        font-size: 50px;
        color: $light-green;
        max-width: 584px;
    }

    // .text-block__text

    &__text {
        font-size: 20px;
        font-weight: 400;
        max-width: 671px;
    }
}
.how {
    // .how__cards-row
    margin-bottom: 39px;

    &__cards-row {
        display: flex;
        justify-content: space-between;
        :first-child{

        }
        :first-child +.how__card{
            margin-top: 286px;

        }
        :last-child+.how__card{
            margin-top: 54px;
        }
    }

    // .how__card

    &__card {
        max-width: 390px;
    }
}
.card {

    // .card__title

    &__title {
        font-family: 'Georgia',serif;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 55px;
        position: relative;
        text-align: center;
        
    }
    &__title::before{
        content: attr(data-number);
        position: absolute;
        top: -110px;
        left: 0;
        width: 150px;
        height: 150px;
        font-family:'Georgia', serif;
        font-weight: 400;
        font-size: 150px;
        color: rgba($color: #01996D, $alpha: .2);

    }

    // .card__text

    &__text {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 60px;
    }

    // .card__img

    &__img {
        max-width: 390px;
        max-height: 490px;
    }
}

.container {
}
.kayla {
    min-height: 922px;
    background-color: $main-color;
    padding-top: 221px;
    padding-bottom: 185px;
		// .kayla__row

		&__row {
            display: flex;
            align-items: center;
		}

		// .kayla__text

		&__text {
            max-width: 580px;
            color: #fff;
		}

		// .kayla__title

		&__title {
            font-size: 50px;
            font-weight: 700;
            font-family: 'Georgia', serif;
            margin-bottom: 33px;
		}

		// .kayla__subtitle

		&__subtitle {
            font-weight: 600;
            margin-bottom: 57px;
		}

		// .kayla__button

		&__button {
		}

		// .kayla__video

		&__video {
            max-width: 895px;
            max-height: 515px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
            button{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
		}
}
.green-button {
}


.product {
    padding-top: 113px;

    // .product__card

    &__card {
        width: 700px;
        height: 648px;
        display: inline-block;
        position: relative;
    }

    // .product__big-card

    &__big-card {
        width: 638px;
        max-height: 573px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba($color: #01996D, $alpha: .2);
        img{
            height: 100%;
            padding-left: 80px;
        }
    }

    // .product__small-card

    &__small-card {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    // .product__text

    &__text {
        margin-bottom: 40px;
        display: inline-block;
        max-width: 584px;
    }

    // .product__subtitle

    &__subtitle {
        margin-bottom: 10px;
    }

    // .product__title

    &__title {
        margin-bottom:  20px;
    }

    // .product__button

    &__button {
    }
}

.product-row {
    display: flex;
    column-gap: 87px;
}

.small-card {
    width: 296px;
    height: 293px;
    background-color: #fff;
    z-index: 100;
    text-align: center;
		// .small-card__title

		&__title {
            font-weight: 600;
            font-size: 14px;
            border-bottom: 1px solid black;
            display: inline-block;
            padding-bottom: 8px;
            margin-bottom: 22px;
		}


		&__img {
            margin-bottom: 20px;
            img{
                border-radius: 50px;
            }

		}

		// .small-card__name

		&__name {
            font-weight: 400;
            font-size: 12px;
            margin-bottom: 20px;
		}

		// .small-card__desc

		&__desc {
            font-weight: 700;
            font-size: 16px;
            font-family: 'Georgia',serif;
            margin-bottom: 16px;
            text-align: left;
		}

		// .small-card__list

		&__list {
            text-align: left;
            li{
                font-size: 10px;
                font-weight: 400;
                position: relative;
                padding-left: 10px;

                
            }
            li+li{
                margin-bottom: 16px;
            }
            li::before{
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 50px;
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translateX(-50%);
                background-color: #000;
            }
		}
}

.footer {
    min-height: 654px;
    background-color: $main-color;
    padding-top: 105px;
    // .footer__logo

    &__logo {
        max-width: 106px;
        max-height: 30px;
        margin-bottom: 75px;
        img{
            width: 100%;
        }
    }

    // .footer__list

    &__list {

        a{
            color: #fff;
        }
    }

    // .footer__item

    &__item {
        margin-bottom: 60px;
        font-weight: 600;
        font-size: 25px;
        color: #fff;
    }
}
.container {
}

